
@keyframes brands {
0% {
    transform: translateX(0%);
}
100% {
    transform: translateX(-100%);
}
}

.animate-brands{
animation: brands 15s linear infinite;
}

section:hover .animate-brands{
    animation-play-state: paused;
}

.animate-brands svg{
    height:2rem;
    width: 8rem; 
}